{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

<body>
    
<div class="container">
    <input type="checkbox" id="signup_toggle">
    <form class="form" action="/user/" method="POST">
        <div class="form_front">
            <div class="form_details">Login</div>
            <input placeholder="Username" class="input" type="text" name="username">
            <input placeholder="Token" class="input" type="text" name="token">
            <button class="btn">Login</button>

        </div>

    </form>
</div>
 
{% endblock %}
